* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
}

img {
    width: 0px;
    height: 0px;
}

.color-container {
    display: flex;
    align-items: center;
}

.slider-container {
    display: flex;
    gap: 20px;
    align-items: center;
}


.grid { 
    border: 3px solid black;
    display: grid;
    width: 500px;
    height: 500px;
}
  
.box{
border: 1px solid gray;
user-select: none;
}
